*{
    margin: 0;
    padding: 0;

}
body{
    background-color: aliceblue;
}

.search{
    margin-top: 60px;
    text-align: center;
}
.type{
    height: 3rem;
    width: 30rem;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    
    
}
button{
    height: 3rem;
    border-radius: 10px;
    width: 10rem;
    border: 2px solid aqua;
}

h2{
    font-size: bold;
    color: blueviolet;
    text-align: center;
    margin-top: 50px;
    font-weight: 1000;

}